@use "../../styles/partials/colors" as *;
@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/mixins" as *;

.video {
  color: $brainflix-black;
  padding-left: 5vw;
  padding-right: 5vw;
  &__title {
    font-size: 1.5rem;
    padding-top: 2.6vh;
    padding-bottom: 1.8vh;
    margin: 0;
    @include tablet {
      font-size: 2rem;
      padding-bottom: 0;
    }
    @include desktop {
      width: 75%;
      font-size: 2.5rem;
      border-right: $mercury 0.13rem solid;
      padding-top: 3.5vh;
    }
  }
  &__channel {
    font-size: 0.9rem;
    @include desktop{
      font-size: 1.1rem;
    }
  }
  &__info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    // align-items: center;
    border-top: $mercury 0.1rem solid;
    border-bottom: $mercury 0.1rem solid;
    @include tablet {
      border-top: 0;
    }
    @include desktop {
      width: 75%;
      border-right: $mercury 0.13rem solid;
      border-bottom: $mercury 0.13rem solid;
    }
    &__text {
      color: $silver;
    }
    &__icons {
      width: 6vw;
      @include tablet {
        width: 2.5vw;
        padding-right: 1vw;
      }
      @include desktop {
        width: 2vw;
        padding-right: 0.8vw;
      }
    }
    &__component {
      display: flex;
      flex-direction: row;
      margin-left: 5vw;
      &__views,
      &__likes {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include tablet {
          padding-left: 2vw;
          font-size: 0.9rem;
        }
        @include desktop {
          padding-left: 0;
          margin-right: 2vw;
        }
      }
      &-one {
        @include tablet {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 25vw;
        }
        @include desktop {
          width: 17.5vw;
        }
      }
      &-two {
        color: $silver;
        display: flex;
        flex-direction: column;
        &__views {
          display: flex;
          flex-direction: row;
          justify-content: space-evenly;
        }
        &__likes {
          display: flex;
          justify-content: space-evenly;
        }
        @include tablet {
          flex-direction: row;
        }
      }
    }
  }
}
