@use "../../styles/partials/colors" as *;
@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/mixins" as *;

.video {
  color: $brainflix-black;
  padding-left: 5vw;
  padding-right: 5vw;
  &__title {
    font-size: 1.5rem;
    padding-top: 2.6vh;
    padding-bottom: 1.8vh;
    margin: 0;
  }
  &__info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    // align-items: center;
    border-top: $mercury 0.1rem solid;
    border-bottom: $mercury 0.1rem solid;
    @include tablet {
      border-top: 0;
    }
    &__icons {
      width: 6vw;
    }
    &__component {
      display: flex;
      flex-direction: row;
      margin-left: 5vw;
      &__views,
      &__likes {
        display: flex;
        justify-content: space-between;
      }
      &-one {
        @include tablet {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 30vw;
        }
      }
      &-two {
        color: $silver;
        display: flex;
        flex-direction: column;
        &__views {
          display: flex;
          flex-direction: row;
          justify-content: space-evenly;
        }
        &__likes {
          display: flex;
          justify-content: space-evenly;
        }
        @include tablet {
          flex-direction: row;
        }
      }
    }
  }
}
