@use "../../styles/partials/colors" as *;
@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/mixins" as *;

.description {
  padding-left: 4vw;
  color: $brainflix-black;
  width: 91%;
  font-size: 0.776rem;
  padding-top: 1vh;
  @include tablet {
    width: 88%;
    padding-left: 5vw;
    font-size: 0.85rem;
    line-height: 2vh;
  }
  @include desktop {
    width: 85.5%;
    border-right: $mercury 1px solid;
    padding-left: 5.8vw;
    padding-top: 3vh;
  }
  &__text {
    @include desktop {
      width: 97%;
      line-height: 3vh;
      font-size: 0.98rem;
      margin: 0;
    }
  }
}
