@use "../../styles/partials/colors" as *;
@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/mixins" as *;

.hero {
    @include tablet{
        background-color: black;
        height: 45.3vh;
    }
    @include desktop{
        height: 63.6vh;
    }
  &__video {
    width: 100%;
    @include tablet {
      width: 88vw;
      padding-left: 5vw;
    }
    @include desktop {
      width: 75%;
      padding-left: 14vw;
    }
  }
}
