@use "../../styles/partials/colors" as *;
@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/mixins" as *;

.hero{
    &__video{
        width: 100%;
        padding-top: 1rem;
        @include tablet{
            width: 95%;
            padding-left: 1rem;
        }
    }
}