@use "../../styles/partials/colors" as *;
@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/mixins" as *;

.form {
  padding-left: 5vw;
  @include tablet{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  @include  desktop{
    width: 67.4%;
    border-right: $mercury 0.13rem solid;
  }
  &__header {
    color: $brainflix-black;
    font-size: 0.75rem;
    @include tablet {
      font-size: 0.85rem;
    }
    @include desktop{
      margin: 0;
      padding-top: 6vh;
      font-size: 1rem;
    }
  }
  &__container {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    margin-right: 5vw;
    @include tablet {
      align-items: center;
      justify-content: space-between;
    }
    @include desktop{
      padding-left: 1.2vw;
      padding-top: 3vh;
    }
    &__image {
      max-height: 4rem;
      max-width: 4rem;
      margin-top: 1.5rem;
      clip-path: circle(35% at 40% 50%);
    }
    &__field {
      display: flex;
      flex-direction: column;
      &__header {
        color: $silver;
        font-size: 0.65rem;
        font-weight: 500;
        margin: 0.4vh;
        padding-bottom: 0.3vh;
        @include tablet{
          font-size: 0.88rem;
        }
        @include desktop{
          font-size: 1rem;
        }
      }
      &__input {
        width: 65vw;
        font-size: 0.813rem;
        background-color: $alabaster;
        border: 0.1rem $mercury solid;
        border-radius: 0.3rem;
        padding-bottom: 20vw;
        &::placeholder {
          padding-left: 3vw;
          color: $brainflix-black;
          font-size: 0.7rem;
          @include tablet{
            padding-left: 2vw;
            font-size: 0.88rem;
          }
          @include desktop{
            font-size: 1.1rem;
          }
        }
        @include tablet {
          height: 5vh;
          padding-bottom: 0;
          width: 55vw;
        }
        @include desktop{
          width: 39vw;
        }
      }
      &__button {
        display: flex;
        align-items: center;
        height: 5vh;
        color: white;
        background-color: $brainflix-blue;
        border: 0.1rem $brainflix-blue solid;
        border-radius: 0.3rem;
        margin-top: 2vh;
        @include tablet {
          display: none;
        }
        @include desktop{
          display: none;
        }
      }
    }
  }
  &__icon {
    padding-right: 15vw;
    @include tablet{
      padding-right: 2vw;
    }
  }
  &__button {
    display: none;
    @include tablet {
      display: flex;
      align-items: center;
      height: 5vh;
      width: 25vw;
      color: white;
      background-color: $brainflix-blue;
      border: 0.1rem $brainflix-blue solid;
      border-radius: 0.3rem;
      margin-top: 2vh;
      margin-left: 3vw;
    }
    @include desktop{
      // width: 10vw;
      margin-top: 3.2vh;
      padding-right: 5vw;
    }
  }
}
